/**---------------------------------------------------------------
About Us CSS
*---------------------------------------------------------------*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body .who-we-are{
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #cc1616;
  text-decoration: none;
}

a:hover {
  color: #e82d2d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0391F2;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #070258;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #070258;
  border-top-color: #efefef;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #0391F2;
  font-size: 16px;
  height: 80px;
  padding: 10px 0px 0px 0px;
  color: rgba(255, 255, 255, 0.6);
}

#topbar .contact-info a {
  line-height: 0;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #fff;
}

#topbar .contact-info i {
  color: #070258;
  line-height: 0;
  margin-right: 5px;
}

#topbar .contact-info .phone-icon {
  margin-left: 15px;
}

#topbar .social-links a {
  color: rgb(255, 255, 255);
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #070258;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgb(210, 253, 255);
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
}

#header.fixed-top {
  background: #D2FDFF;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 90px;

}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  margin-left: 5px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px 24px 15px;
  font-size: 16px;
  color: #070258;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  background: #070258;
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #191919;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #fff;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}




.navbar .dropdown .dropdown:hover>ul {
  position: absolute;
  display: block;
  /*margin-top: -40px;*/
  margin-left: 120px;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}


.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #070258;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #0391F2;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #070258;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #0391F2;
  background: none;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #0391F2;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

#hero::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 130%;
  height: 95%;
  background: linear-gradient(to right, rgba(7, 2, 88), rgba(31, 68, 87, 0.7)), url("../img/about-as-service-contact-information-concept.jpg") fixed center no-repeat;
  background-size: cover;
  z-index: 0;
  border-radius: 0 0 50% 50%;
  transform: translateX(-50%) rotate(0deg);
}

#hero::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 130%;
  height: 96%;
  background: #68A4C4;
  opacity: 0.3;
  z-index: 0;
  border-radius: 0 0 50% 50%;
  transform: translateX(-50%) translateY(18px) rotate(2deg);
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h2 {
  color: #fff;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 42px;
  font-weight: 700;
}

#hero p {
  width: 80%;
  font-size: 21px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  line-height: 31px;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .btn-get-started {
  font-family: "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #0391F2;
}

#hero .btn-get-started:hover {
  background: #0391F2;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px) {
  #hero::after {
    width: 180%;
    height: 95%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
  }

  #hero::before {
    top: 0;
    width: 180%;
    height: 94%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(20px) rotate(4deg);
  }
}

@media (max-width: 575px) {
  #hero h2 {
    font-size: 30px;
  }

  #hero::after {
    left: 40%;
    top: 0;
    width: 200%;
    height: 95%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
  }

  #hero::before {
    left: 50%;
    top: 0;
    width: 200%;
    height: 94%;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(20px) rotate(4deg);
  }
}


/*#regional
-------------*/
.regional {
  letter-spacing: 1px;
}

.regional h3 {
  color: #0391F2;
  padding: 40px 60px 5px 70px;
  font-size: 36px;
  font-weight: 700;
}

.regional p {
  font-size: 21px;
  color: #070258;
  font-weight: 700;
  padding: 20px 60px 5px 70px;
  align-items: center;
  text-align: left;
  text-align: justify-all;
  align-content: space-between;
  justify-content: space-evenly;
  line-height: 2em;
}

.regional a {
  color: #0391F2;
  align-items: center;
  align-content: space-between;
  justify-content: space-evenly;
}

.regional a:hover {
  color: #944444;
  cursor: pointer;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #191919;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: #f4f4f4;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-title span {
    font-size: 38px;
  }
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background: url("../img/pattern.jpg") center center no-repeat;
  background-size: cover;
  padding: 10px 0 60px 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  opacity: 550%;
}

.about .container {
  position: relative;
  z-index: 10;
  padding: 10px 0 0 0;
}

.about .content {
  opacity: 550%;
  padding: 15px 30px 30px 0;
}

.about .content h3 {
  font-weight: 700;
  opacity: 100%;
  font-size: 42px;
  color: #2f4d5a;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
  line-height: 36px;
  color: #000;
  font-size: 21px;
  padding-right: 20px;
  padding-left: 20px;
}

.about .content .about-btn {
  display: inline-block;
  background: #67b0d1;
  padding: 8px 46px 10px 33px;
  color: #fff;
  font-size: 21px;
  border-radius: 50px;
  transition: 0.3s;
  position: relative;
}

.about .content .about-btn i {
  font-size: 18px;
  position: absolute;
  right: 18px;
  top: 9px;
}

.about .content .about-btn:hover {
  background: #7bbad7;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
}

.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #67b0d1;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
  color: #070258;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 20px;
  color: #000;
}

@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}


/*#Cross-sectoral
----------------*/
.Cross-sectoral {
  background: linear-gradient(rgba(7, 2,88, 0.5), rgba(1, 41, 95, 1.5)) fixed center center;
  background-size: cover; 
  padding: 50px 0;
  letter-spacing: 1px;
}

.Cross-sectoral h3 {
  color: #FFFBDB;
  padding: 40px 60px 5px 70px;
  font-size: 30px;
  font-weight: 700;
}

.Cross-sectoral p {
  color: #fff;
  padding: 20px 60px 5px 70px;
  text-align: left;
  font-size: 21px;
  text-align: justify-all;
  align-items: center;
  align-content: space-between;
  justify-content: space-evenly;
  line-height: 2em;
}

.Cross-sectoral a {
  color: #0391F2;
}

.Cross-sectoral a:hover {
  color: #90FCF9;
  cursor: pointer;
}



/*--------------------------------------------------------------
# wrapper
--------------------------------------------------------------*/
.slide {
  background-color: #944444;
   z-index: 9;
}

.slide-content {
  margin-top: 20px;
}

.slide .slide-content:hover h1 {
  color: #90FCF9;
}

.wrapper .wrapper_member:hover {
  background: #17BEBB;
  border: 6px solid #17BEBB;
}

.wrapper .wrapper_member:hover p {
  color: #fff;
}

.wrapper .wrap .wrapper_member:hover {
  background: #17BEBB;
  border: 6px solid #17BEBB;
}

.wrapper .wrap .wrapper_member:hover p {
  color: #fff;
}

.wrapper .wrap .wrapper_member:hover li {
  color: #F3D9DC;
}

.slide-content h1 {
  font-family: Arial;
  color: #fff;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 81px;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper {
  display: flex;
  margin-top: -40px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 10px;
  text-align: center;
  width: auto;
  align-items: flex-start;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper .wrapper_member {
  background: #EFD9CE;
  /*margin: 15px;*/
  clip-path: circle();
  margin-bottom: 60px;
  color: #000;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  /*padding: 50px;*/
  flex-wrap: wrap;
  border-radius: 150%;
  border: 6px solid #fefefe;
}

.wrapper .wrapper_member .uno {
  color: #070258;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding: 95px 30px 30px 30px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.wrapper .wrapper_member .dos {
  color: #070258;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding: 50px 40px 30px 40px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.wrapper .wrapper_member .tres {
  color: #070258;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding: 80px 40px 30px 40px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.wrapper .wrapper_member .quart {
  color: #070258;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding: 70px 35px 30px 35px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.wrapper .wrapper_member .cink {
  color: #070258;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding: 95px 60px 30px 60px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.wrapper .wrapper_member .seiz {
  color: #070258;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding: 80px 45px 30px 45px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.wrapper .wrapper_member .set {
  color: #070258;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding: 80px 45px 30px 45px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.wrapper .wrapper_member .huit {
  color: #070258;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding: 50px 35px 30px 35px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.wrapper .wrap {
  display: flex;
  margin-top: -15px;
  padding-right: 60px;
  margin-bottom: 10px;
  text-align: center;
  width: auto;
  align-items: flex-start;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper .wrap .wrapper_member {
  background: #EFD9CE;
  margin: 15px;
  display: flex;
  clip-path: circle();
  margin-bottom: 60px;
  color: #000;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  flex-wrap: wrap;
  border-radius: 150%;
  border: 6px solid #fefefe;
}

.wrapper .wrap .wrapper_member .huix {
  color: #070258;
  font-size: 13px;
  font-weight: 500;
  line-height: 2;
  padding: 18px 35px 30px 35px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.wrapper .wrap .wrapper_member li {
  text-align: left;
  font-family: sans-serif;
  font-size: 9.5px;
  text-decoration: none;
  flex-wrap: wrap;
  text-transform: capitalize;
  margin-top: -45px;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 30px;
  line-height: 1.5;
  color: #000;
  position: relative;
  justify-content: center;
  align-items: center;
}

.wrapper .wrap .wrapper_member .neux {
  color: #070258;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding: 60px 35px 30px 35px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.wrapper .wrap .wrapper_member .dix {
  color: #070258;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  padding: 60px 35px 30px 35px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  flex-wrap: wrap;
}



body .what_we_do{
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
/*--------------------------------------------------------------
# NCPD
--------------------------------------------------------------*/
.ncpd {
  padding: 20px 0 60px 0;
  background: url("../img/gray-abstract-wireframe-technology-background.jpg") fixed center center;
  background-size: cover;
}

.ncpd .content h3 {
  font-weight: 700;
  font-size: 18.5px;
  line-height: 2;
  padding-top: 12px;
  padding-right: 50px;
  justify-content: space-between;
  align-content: space-between;
  text-align: justify-all;
  font-family: "Poppins", sans-serif;
}

.ncpd .content ul {
  list-style: none;
  padding: 0;
}

.ncpd .content ul li {
  padding: 0 0 8px 26px;
  position: relative;
}

.ncpd .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: #ffc451;
}

.ncpd .content p {
  line-height: 2;
  font-size: 15px;
  font-weight: 400px;
  text-align: left;
  padding-top: 95px;
  padding-right: 30px;
  align-content: space-between;
  justify-content: space-between;
}

.ncpd .content p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# cross-sectoral
--------------------------------------------------------------*/
.cross-sectoral {
  background-color: #070258;
  padding: 50px 0 60px 0;
}

.cross-sectoral h3{
  padding: 10px 0 15px 0;
  font-size: 24px;
  font-weight: 400px;
  text-transform: capitalize;
  text-align: left;
  line-height: 39px;
  color: #FFFCFC;
  letter-spacing: 0.5px;
}

.cross-sectoral .row {
  padding-top: 20px;
}

.cross-sectoral .icon-box {
  padding-left: 15px;
}

.cross-sectoral .icon-box h4 {
  color: #9FFFF5;
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.cross-sectoral .icon-box i {
  font-size: 50px;
  float: left;
  color: #ffc451;
}

.cross-sectoral .icon-box p {
  font-size: 18px;
  color: #fff;
  margin-left: 60px;
}

.cross-sectoral .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

/*--------------------------------------------------------------
# Orgactivities Section
--------------------------------------------------------------*/
.Orgactivities {
  padding-top: 50px;
}

.Orgactivities .section-title span {
  color: #f8f7ff;
  opacity: 45%;
}

.Orgactivities .section-header h2 {
  color: #2F4D5A;
  font-size: 24px;
  font-weight: 700;
  line-height: 2rem;
  text-align: justify-all;
}

.Orgactivities .accordion-item {
  border: 0;
  margin-bottom: 10px;
}

.Orgactivities .accordion-body h2, h1 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}

.Orgactivities .accordion-collapse {
  border: 0;
}

.Orgactivities .accordion-button {
  padding: 15px 30px 20px 60px;
  font-weight: 600;
  border: 0;
  font-size: 21px;
  color: var(--color-default);
  text-align: left;
  background: rgba(14, 29, 52, 0.03);
  border-radius: 5px;
}

.Orgactivities .accordion-button:focus {
  box-shadow: none;
}

.Orgactivities .accordion-button:not(.collapsed) {
  color: #0391F2;
  border-bottom: 0;
  box-shadow: none;
}

.Orgactivities .question-icon {
  position: absolute;
  top: 14px;
  left: 25px;
  font-size: 20px;
  color: #0391F2;
}

.Orgactivities .accordion-button:after {
  position: absolute;
  right: 15px;
  top: 15px;
}

.Orgactivities .accordion-body {
  padding: 0 30px 25px 60px;
  border: 0;
  background: rgba(14, 29, 52, 0.03);
  border-radius: 5px;
}

.Orgactivities .accordion-body a {
  color: #070258;
  font-size: 18px;
}

.Orgactivities .accordion-body i,
.Orgactivities .accordion-body p {
  font-size: 18px;
}

.Orgactivities .accordion-body .up:hover {
  border-bottom: solid #0391F2 2px;
  color: #0391F2;
}

.Orgactivities .accordion-body .dwn:hover {
  border-bottom: solid #0391F2 2px;
  color: #0391F2;
}



/*# progPrincipal Section
--------------------------------*/
#progPrincipal {
  background-color: #F7F7FF;
  padding: 30px 0 50px 0;
  overflow: hidden;
}

#progPrincipal .section-header h3 {
  color: #070258;
  font-size: 27px;
  font-weight: 700;
}

/*#progPrincipal .section-header h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 2px;
  background: #0391F2;
  bottom: 120;
  left: calc(48% - 25px);
}*/

#progPrincipal .cap-list {
  padding: 0;
  list-style: lower-roman;
}

#progPrincipal .cap-list li {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#progPrincipal .cap-list .question {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: #0391F2;
  transition: 0.3s;
}

#progPrincipal .cap-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}

#progPrincipal .cap-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

#progPrincipal .cap-list .icon-show {
  display: none;
}

#progPrincipal .cap-list .collapsed {
  color: black;
}

/*#progPrincipal .cap-list .collapsed:hover {
  color: #0391F2;
}*/

#progPrincipal .cap-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

#progPrincipal .cap-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}


/*# OrgStructure
--------------------------------------------------------*/
.OrgStructure {
  padding: 1px 0 40px 0;
  overflow: hidden;
}

.OrgStructure .row h2 {
  color: #070258;
  font-size: 30px;
  font-weight: 700;
  text-align: justify-all;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  margin-left: 450px;
  margin-right: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*.OrgStructure .row h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #0391F2;
  bottom: 120;
  left: calc(49.5% - 25px);
}*/

.OrgStructure .row p {
  padding-left: 30px;
  padding-right: 30px;
  line-height: 2;
  font-size: 18px;
  justify-content: space-between;
  align-content: space-between;
  text-align: left;
}

.OrgStructure .row .image {
  display: flex;
  position: relative;
  padding: 0;
  margin-left: 10px;
  width: 100%;
 /* height: 80%;*/
}

.OrgStructure .row .image img {
  animation: ease-in-out 0.5s;
  align-content: center;
  min-width: 150px;
}

@media (max-width: 575px) {
  .OrgStructure .row h2 {
    font-size: 28px;
    margin-bottom: 15px;
    /*margin-right: 450px;*/
    margin-right: 350px;
    margin-left: 150px;
  }

  .section-title span {
    font-size: 38px;
  }

  .OrgStructure .row .image img {
    margin-right: 20px;
    margin-left: 0;
    padding: 0;
    flex-wrap: wrap;
  }
}



/*# Our Reach
--------------------------------------------------------*/
.reach {
  padding: 10px 0 40px 0;
  background-color: #f8f7ff;
}

.reach h2 {
  color: #070258;
  font-size: 30px;
  font-weight: 700;
  text-align: justify-all;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  margin-left: 500px;
  margin-right: 350px;
  padding-top: 50px;
  padding-bottom: 40px;
}

./*reach h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #0391F2;
  bottom: 120;
  left: calc(52% - 25px);
}*/

.row {
  padding-top: 40px;
  display: flex;
  position: relative;
}

.reach .image {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
}

.reach .image img {
  display: inline-flex;
  position: relative;
  float: right;
  margin-left: 90px;
  margin-bottom: 30px;
}

.reach .blue {
  margin-bottom: 30px;
}

.reach .blue h4 {
  font-size: 24px;
  font-weight: 700;
  color: #0391F2;
}

.reach .blue p {
  font-weight: 400;
  font-size: 18px;
  color: #070258;
}

.reach .blue ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reach .blue ul i {
  padding-right: 2px;
  color: rgba(13, 66, 255, 0.8);
  font-size: 16px;
  line-height: 0;
}

.reach .blue ul li {
  padding: 10px 0;
  display: flex;
  font-size: 16px;
  align-items: center;
}

.reach .blue ul li:first-child {
  padding-top: 0;
}

.reach .blue ul a {
  color: dodgerblue;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.reach .blue ul a:hover {
  filter: opacity(70%);
  color: rgb(3, 145, 242);
}

.reach .green {
 margin-bottom: 30px;
}

.reach .green h4 {
  font-size: 24px;
  font-weight: 700;
  float: left;
  color: forestgreen;
  padding-top: -20px;
  padding-bottom: 12px;
}

.reach .green p {
  margin-top: -12px;
  float: right;
  font-weight: 400;
  font-size: 18px;
  color: darkgreen;
}

.reach .green ul {
  list-style: none;
  padding-top: 40px;
  margin: 0;
}

.reach .green ul i {
  padding-right: 2px;
  color: rgb(22, 177, 89);
  font-size: 16px;
  line-height: 0;
}

.reach .green ul li {
  padding: 10px 20px 10px 0;
  margin-left: -30px;
  display: flex;
  font-size: 16px;
  align-items: center;
}

.reach .green ul li:first-child {
  padding-top: 0;
}

.reach .green ul a {
  color: seagreen;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.reach .green ul a:hover {
  filter: opacity(70%);
  color: rgb(22, 177, 89);
}

.scrolled-offset {
  margin-top: 70px;
}

@media (max-width: 575px) {
  #reach .reach .blue {
    margin: -20px 0 30px 0;
  }

  .reach .image img {
    float: left;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    min-width: 150px;
    margin: -20px 20px 30px 20px;
  }

  #reach .reach .green {
    margin: -20px 0 30px 0;
  } 

  .reach .green p {
    padding-top: 10px;
    padding-right: 165px;
  }

  #reach .reach .green ul li:first-child {
    padding: 0;
  }
}

#merge-links {
  
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background: #020119;
  padding: 50px 0;
  color: white;
}


.footer-info {
  margin-bottom: 15px;
  position: relative;
  background: #fff;
  color: #070258;
  border-top: 4px solid #0391F2;
  text-align: left;
  padding: 30px 20px;
}

.footer .footer-info .logo {
  line-height: 0;
  margin-top: -15px;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  max-height: 120px;
  margin-right: 6px;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #070258;
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  background: #0391F2;
  color: #fff;
  text-decoration: none;
}

.footer h4 {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(13, 66, 255, 0.8);
  font-size: 24px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-contact {
  margin-bottom: 30px;
}

.footer .footer-contact h4 {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  display: flex;
  float: left;
  padding-bottom: 12px;
}

.footer .footer-contact ul {
  list-style: none;
  padding-top: 50px;
  margin: 0;
}

.footer .footer-contact ul i {
  padding-right: 2px;
  color: rgba(13, 66, 255, 0.8);
  font-size: 24px;
  line-height: 0;
}

.footer .footer-contact ul li {
  padding: 10px 20px 10px 0;
  margin-left: -30px;
  display: flex;
  align-items: center;
}

.footer .footer-contact ul li:first-child {
  padding-top: 0;
}

.footer .footer-contact ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-contact ul a:hover {
  color: #fff;
}



.footer .copyright {
  text-align: center;
  font-size: 21px;
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}


.scrolled-offset {
  margin-top: 70px;
}

@media (max-width: 575px) {
  #footer .footer-top .footer-info .footer-links .media-links{
    margin: -20px 0 30px 0;
  }
}

#merge-links {
  
}